.navbar-brand img{
    height: 30px;
   
}

.centered-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .icon-spacing{
    margin-right: 10px;
    height: 30px;
    cursor: pointer;
  }
  .icon-link {
    text-decoration: none; /* Remove the default underline */
    color: inherit; /* Inherit the text color */
  }
  .badge{
width: 35px;
margin-right: 10px;
color: black;
  }